<form method="post" action="/alumnos/alta">
Ingrese legado del alumno:
<input type="leg_alumno" name="leg_alumno" size="50">
<br>
Ingrese el apellido y nombre del alumno:
<input type="text" name="apyn_alumno" size="10">
<br>
Ingrese el domicilio del alumno:
<input type="text" name="dom_alumno" size="10">
<br>
<label for="cod_postal">Elegir una ciudad</label>
        <select class="form-control" id="cod_postal" name="cod_postal">
          <option value="7600">Mar Del Plata</option>
          <option value="7601">Batan</option>
          <option value="8000">Bahia Blanca</option>
        </select>
<br>
Ingrese el fecha de nacimineto del alumno:
<input type="text" name="fecha_nac_alumno" size="10">
<br>
Ingrese la email del alumno:
<input type="text" name="email_alumno" size="10">
<br>
Ingrese el grupo sanguineo del alumno:
<input type="text" name="grupo_sang_alumno" size="10">
<br>
Ingrese el telefono fijo del alumno:
<input type="text" name="tel_fijo_alumno" size="10">
<br>
Ingrese el telefono movil del alumno:
<input type="text" name="tel_movil_alumno" size="10">
<br>
Ingrese el dni del alumno:
<input type="text" name="dni_alumno" size="10">
<br>
<input type="submit" value="Agregar">
</form>

									